// Media queries
@mixin for-mobile-only {
  @media (max-width: 699px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 700px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@mixin for-tablet-landscape-down {
  @media (max-width: 1199px) { @content; }
}

// Animations
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

// Transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// Button hover
@mixin button-hover($bgColor, $textColor) {
  background-image: linear-gradient(to top, $bgColor 49.9%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  @include transition(background-position 300ms);

  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: $textColor;
    background-position: bottom;
    @include transition(background-position 300ms);
  }
}