$brand-primary: #d51083;
// $brand-primary: #0556E6;
$text-color: #333333;
$interface-gray: #EEEEEE;
$interface-red: #FF635B;
$interface-yellow: #FFBD2E;
$interface-green: #29CE42;
$footer-height: 100px;
$mix-bar-height: 24px;