@import "./styles/Reset";

// From Client/Styles/Include in the app
@import "./styles/Foundation";
// @import "../node_modules/lesshat/lesshat";

// // From Client/Styles/Application.less in the app
// @import "./styles/Defaults";

// // Common Styles
// @import "./styles/Configuration";
// @import "./styles/Mixins";
@import "./styles/Colors";
@import "./styles/Spacing";
@import "./styles/Typography";
// @import "./styles/Transitions";
// @import "./styles/Animations";

.container {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
  
  display: flex;
  .sidebar {
    flex: 0 0 300px;
    background: white;
    border-right: 1px solid @grey-25;
    display: inline-block;
    padding: 32px;
    padding-top: 64px;

    .section-title {
      color: @grey;
    }

    ul {
      list-style-image: url("./assets/folder.svg");
      list-style-position: inside;

      li {
        padding: 10px;
        margin: 0 -10px;
        border-radius: 4px;
        color: fade(@slate, 50%);
        background-color: none;
        transition: background-color 0.15s ease-out;

        &.active {
          list-style-image: url("./assets/folder-purple.svg");
          color: @midnight;
        }

        &.dragover {
          background: fade(@blue, 25%);
          color: @slate;
        }

        &.drop-success {
          background: @blue;
          color: white;
        }
      }
    }
  }

  header {
    padding: 32px 64px 0 64px;

    h2 > img {
      height: 21px;
      vertical-align: baseline;
      margin-right: 4px;
    }
  }

  .main {
    background: @grey-10;
    flex: 1 1 auto;
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .grid {
      flex: 1 1 auto;
      padding: 64px;
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-auto-rows: min-content;
    
      &__item {
        background-color: white;
        border-radius: 8px;
        height: 360px;
        border: 4px solid @grey-10;;
        box-shadow: inset 0 0 0 1px @grey-25;
        position: relative;
        display: flex;
        flex-direction: column;
        cursor: default;

        .select-checkbox {
          width: 25px;
          height: 25px;
          border-radius: 7px;
          border: 3px solid fade(white, 25%);
          position: absolute;
          top: 16px;
          left: 16px;
          cursor: pointer;
        }

        .screenshot {
          height: 50%;
          background-size: cover;
          background-position: 50%;
          border-radius: 4px 4px 0 0;
          border: 1px solid @grey-25;
          border-bottom: none;
        }

        .band {
          height: 43px;
          padding: 16px;
          background-color: @grey-10;
        }

        .content {
          background-color: white;
          padding: 16px;
          .text-h4;
          .regular;
          flex: 1 1 auto;
          margin-bottom: 0;
          border-radius: 0 0  4px 4px;
          border: 1px solid @grey-25;
          border-top: none;
        }

        &.selected {
          border: 4px solid @blue;
          box-shadow: 0 15px 25px 0 fade(@midnight, 10%);
          cursor: grab !important;

          &:active {
            cursor: grabbing !important;
          }

          .select-checkbox {
            background: @blue;
            &:after {
              content: url("./assets/check.svg");
              display: inline-block;
              padding: 2px;
            }
          }
        }
      }
    }
  }
}

.selection-area {
  background: fade(@blue, 25%);
  border: 1px solid fade(@blue, 50%);
}

#drag-ghost {
  position: absolute;
  top: -1000px;
  padding: 11px;
  background-color: @blue;

  border-radius: 8px;

  img {
    margin-right: 6px;
  }

  label {
    color: white;
    vertical-align: text-bottom;
    .text-context-label;
  }
}

.grabbing-cursor {
	cursor: move !important; /* fallback: no `url()` support or images disabled */
	cursor: -webkit-grabbing !important; /* Chrome 1-21, Safari 4+ */
	cursor:    -moz-grabbing !important; /* Firefox 1.5-26 */
	cursor:         grabbing !important; /* W3C standards syntax, should come least */
}

.selection-mode {
  .grid__item {
    cursor: pointer  !important;
  }
}

.container .main .grid__item {
  &.first {
    .screenshot {
      background-image: url("./assets/screenshot1.png");
    }

    .band {
      background-color: fade(@purple, 25%);
    }
  }

  &.second {
    .screenshot {
      background-image: url("./assets/screenshot2.png");
    }
  }

  &.third {
    .screenshot {
      background-image: url("./assets/screenshot3.png");
    }

    .band {
      background-color: fade(@purple, 25%);
    }
  }
  
  &.fourth {
    .screenshot {
      background-image: url("./assets/screenshot4.png");
    }

    .band {
      background-color: fade(@emerald, 25%);
    }
  }
  
  &.fifth {
    .screenshot {
      background-image: url("./assets/screenshot5.png");
    }

    .select-checkbox {
      border-color: @grey-25;
    }
  }
  
  &.sixth {
    .screenshot {
      background-image: url("./assets/screenshot6.png");
    }

    .band {
      background-color: fade(@orange, 25%);
    }
  }
  
  &.seventh {
    .screenshot {
      background-image: url("./assets/screenshot7.png");
    }

    .band {
      background-color: fade(@emerald, 25%);
    }
  }
  
  &.eigth {
    .screenshot {
      background-image: url("./assets/screenshot8.png");
    }
  }
  
  &.ninth {
    .screenshot {
      background-image: url("./assets/screenshot9.png");
    }

    .band {
      background-color: fade(@purple, 25%);
    }
  }
}