.collage-table-cell {
  font-size: 10px; // Used to set frame width

  .collage-frame {
    background-color: white;
    padding: 0.5em;
    margin: auto;
    width: 25cm;
    height: 20cm;

    #collage {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      overflow: hidden;
      transition: width 0.15s ease-in-out, height 0.15s ease-in-out;
    }
  }
}

// Unnested so it has less specificity and size of photo-frame can be overridden
.photo-frame {
  padding: 0.5em;
  width: 0;
  height: 0;
  transition: width 0.15s ease-in-out, height 0.15s ease-in-out;
  .photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

#collage.photos-1.layout-0 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1) {
      width: 100%;
      height: 100%;
    }
  }
}

#collage.photos-2.layout-0 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2) {
      width: 50%;
      height: 100%;
    }
  }
}
#collage.photos-2.layout-1 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2) {
      width: 100%;
      height: 50%;
    }
  }
}

#collage.photos-3 {
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      width: 50%;
      height: 50%;
    }
  }
}
#collage.photos-3.layout-0 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1) {
      height: 100%;
    }
    &:nth-child(3) {
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
}
#collage.photos-3.layout-1 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1) {
      width: 100%;
    }
  }
}
#collage.photos-3.layout-2 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(2) {
      height: 100%;
    }
    &:nth-child(3) {
      position: absolute;
      top: 50%;
      left: 0;
    }
  }
}
#collage.photos-3.layout-3 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(3) {
      width: 100%;
    }
  }
}

#collage.photos-4.layout-0 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      width: 50%;
      height: 50%;
    }
  }
}
#collage.photos-4.layout-1 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      width: 25%;
      height: 100%;
    }
  }
}
#collage.photos-4.layout-2 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      width: 100%;
      height: 25%;
    }
  }
}
#collage.photos-4.layout-3 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1) {
      width: 100%;
      height: 66.67%;
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      width: 33.33%;
      height: 33.33%;
    }
  }
}

#collage.photos-5.layout-0 {
  flex-direction: column;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      width: 33.33%;
      height: 50%;
    }
    &:nth-child(3) {
      height: 100%;
    }
  }
}
#collage.photos-5.layout-1 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      width: 50%;
      height: 33.33%;
    }
    &:nth-child(3) {
      width: 100%;
    }
  }
}
#collage.photos-5.layout-2 {
  flex-direction: column;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      width: 33.33%;
      height: 50%;
    }
    &:nth-child(1) {
      height: 100%;
    }
  }
}
#collage.photos-5.layout-3 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      width: 33.33%;
      height: 33.33%;
    }
    &:nth-child(1) {
      width: 66.67%;
      height: 66.67%;
    }
    &:nth-child(2) {
      height: 66.67%;
    }
  }
}

#collage.photos-6.layout-0 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      width: 33.33%;
      height: 50%;
    }
  }
}
#collage.photos-6.layout-1 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      width: 50%;
      height: 33.33%;
    }
  }
}
#collage.photos-6.layout-2 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2) {
      width: 50%;
      height: 66.67%;
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      width: 25%;
      height: 50%;
    }
  }
}
#collage.photos-6.layout-3 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1) {
      width: 66.67%;
      height: 66.67%;
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      width: 33.33%;
      height: 33.33%;
    }
    &:nth-child(3) {
      position: absolute;
      top: 33.33%;
      left: 66.67%;
    }
  }
}

#collage.photos-7 {
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      width: 33.33%;
      height: 33.33%;
    }
  }
}
#collage.photos-7.layout-0 {
  flex-direction: column;
  .photo-frame {
    &:nth-child(4) {
      height: 100%;
    }
  }
}
#collage.photos-7.layout-1 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(4) {
      width: 100%;
    }
  }
}
#collage.photos-7.layout-2 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(2) {
      width: 66.67%;
    }
    &:nth-child(3) {
      height: 66.67%;
    }
    &:nth-child(6) {
      position: absolute;
      left: 33.33%;
      top: 66.67%;
    }
    &:nth-child(7) {
      position: absolute;
      left: 66.67%;
      top: 66.67%;
    }
  }
}
#collage.photos-7.layout-3 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1) {
      width: 75%;
      height: 66.67%;
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      width: 25%;
      height: 33.33%;
    }
    &:nth-child(3) {
      position: absolute;
      left: 75%;
      top: 33.33%;
    }
  }
}

#collage.photos-8.layout-0 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
      width: 25%;
      height: 50%;
    }
  }
}
#collage.photos-8.layout-1 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
      width: 50%;
      height: 25%;
    }
  }
}
#collage.photos-8.layout-2 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(8) {
      width: 33.33%;
      height: 50%;
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(7) {
      width: 33.33%;
      height: 25%;
    }
    &:nth-child(3) {
      position: absolute;
      top: 25%;
      left: 33.33%;
    }
    &:nth-child(7) {
      position: absolute;
      top: 75%;
      left: 33.33%;
    }
  }
}
#collage.photos-8.layout-3 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1) {
      width: 75%;
      height: 75%;
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
      width: 25%;
      height: 25%;
    }
    &:nth-child(3) {
      position: absolute;
      top: 25%;
      left: 75%;
    }
    &:nth-child(4) {
      position: absolute;
      top: 50%;
      left: 75%;
    }
  }
}

#collage.photos-9.layout-0 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
      width: 33.33%;
      height: 33.33%;
    }
  }
}
#collage.photos-9.layout-1 {
  flex-direction: column;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
      width: 25%;
      height: 25%;
    }
    &:nth-child(5) {
      width: 50%;
      height: 100%;
    }
  }
}
#collage.photos-9.layout-2 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
      width: 25%;
      height: 25%;
    }
    &:nth-child(5) {
      width: 100%;
      height: 50%;
    }
  }
}
#collage.photos-9.layout-3 {
  flex-direction: row;
  .photo-frame {
    &:nth-child(1) {
      width: 50%;
      height: 66.67%;
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
      width: 25%;
      height: 33.33%;
    }
    &:nth-child(4) {
      position: absolute;
      top: 33.33%;
      left: 50%;
    }
    &:nth-child(5) {
      position: absolute;
      top: 33.33%;
      left: 75%;
    }
  }
}
