@import "./styles/Reset";

// From Client/Styles/Include in the app
@import "./styles/Foundation";
// @import "../node_modules/lesshat/lesshat";

// // From Client/Styles/Application.less in the app
// @import "./styles/Defaults";

// // Common Styles
// @import "./styles/Configuration";
// @import "./styles/Mixins";
@import "./styles/Colors";
@import "./styles/Spacing";
@import "./styles/Typography";
// @import "./styles/Transitions";
// @import "./styles/Animations";

#image-gallery-modal {
  .image-gallery {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;

    .image {
      width: 25%;
      min-width: 200px;
      flex: 1 1 auto;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
  }

  .modal-lg {max-width: 900px;}
}

#widget-adder {
  position: relative;
  top: -100px;
  left: -100px;
  z-index: 5;
  width: 36px;
  height: 36px;
  margin-top: -18px;

  .button {
    &:before {
      content: '+';
      font-size: 28px;
      line-height: 14px;
      display: inline-block;
      padding: 10px 9px;
    }
    
    color: @grey;
    border: 1px solid @grey;
    background-color: white;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    outline: none;
    cursor: pointer;

    &:hover, &:active {
      background-color: @blue;
      color: white;
      border-color: @blue;
    }
  }

  ul {
    display: none;
    position: absolute;
    width: 120px;
    left: 40px;
    top: 0;
    background: @blue;
    border-radius: 4px;
    box-shadow: 0 15px 25px 0 fade(@midnight, 10%);

    li {
      .text-small-label;
      list-style: none;
      margin: 0;
      padding: 16px;
      color: white;
      cursor: pointer;
    }
  }

  &.show-menu {
    .button {
      background-color: @blue;
      color: white;
      border: 1px solid @blue;
    }
    ul { display: block;}
  }

  &.hide-sbs {
    ul li:nth-child(2) {
      display: none;
    }
  }
}

#delete-toolbar {
  background-color: @slate;
  display: inline-block;
  padding: 8px;
  border-radius: 4px;
  line-height: 0;
  position: absolute;
  box-shadow: 0 15px 25px 0 fade(@midnight, 10%);
  z-index: 2;
  cursor: pointer;
  transform: translateX(-50%);

  svg {
    fill: white;
  }
}

.editor {
  width: 800px;
  margin: auto;
  padding-bottom: 60px;
  color: @midnight;

  img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  h1 {
    padding: 0;
    margin-bottom: 16px;
    color: @emerald;

    &:empty:before {
      content: "Heading...";
      opacity: 0.25;
      position: absolute;
    }
  }

  h2 {
    padding: 0;
    margin-bottom: 16px;
    color: @purple;

    &:empty:before {
      content: "Sub Heading...";
      opacity: 0.25;
      position: absolute;
    }
  }
  
  p {
    &:empty:before {
      content: "+ to add more content";
      opacity: 0.5;
      position: absolute;
    }
  }
  
  *[contenteditable] {
    cursor: text;

    &:focus {
      outline: none;
    }
  }

  
  .image-resizer {
    max-width: 100%;
    width: fit-content;
    position: relative;
    transition: all 0.15s ease-out;
    margin-bottom: 16px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0 4px fade(@blue, 25%);
    }

    &.selected {
      box-shadow: 0 0 0 4px fade(@blue, 50%);
      .resize-handle {
        display: inline-block;
        z-index: 1;
      }
    }
    
    .resize-handle {
      display: none;
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background-color: @blue;

      &.resize-top {
        top: -12px;
      }

      &.resize-bottom {
        bottom: -12px;
      }

      &.resize-left {
        left: -12px;
      }

      &.resize-right {
        right: -12px;
      }
    }

    img {
      width: 100%; // SO it fills the image resizer
    }
  }

  .sbs {
    padding: 8px;
    margin: 24px -120px;
    display: -webkit-flex;
    display: flex;
    position: relative;
    cursor: pointer;
    
    &.reverse {
      flex-direction: row-reverse;
    }
    
    .sbs-selector {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 4px;
      z-index: 1;
      transition: all 0.15s ease-out;

      &:hover {
        box-shadow: 0 0 0 4px fade(@blue, 25%);
      }
    }

    &.selected {
      .sbs-selector {
        box-shadow: 0 0 0 4px fade(@blue, 50%);
        
        .gutter {
          &:before {
            opacity: 0.5;
          }
        }
      }
    }

    .sbs-left, .sbs-right {
      width: 488px;
      z-index: 2;
    }

    .sbs-middle {
      width: 48px;
      z-index: 3;
      position: relative;
      
      &:before { // this is the divider line
        content: "";
        position: absolute;
        width: 4px;
        margin: auto;
        height: 100%;
        background-color: @blue;
        left: 50%;
        top: -8px;
        transform: translateX(-50%);
        opacity: 0;
        transition: all 0.15s ease-out;
      }

      .gutter  {
        width: 60px;
        height: 100%;
        position: absolute;
        left: 50%;
        top: -8px;
        transform: translateX(-50%);
        cursor: col-resize;
        border-radius: 4px;
        background-color: transparent;
        transition: all 0.15s ease-out;

        &:hover {
          background-color: fade(@blue, 10%);
          transition-delay: 0.3s;    
        }
      }

      .swap-columns-button {
        position: absolute;
        width: 45px;
        height: 45px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        opacity: 0;
        transition: all 0.15s ease-out;
        
        &:hover {
          &:before {
            content: 'Swap columns';
            .tooltip;
          }
        }
      }

      &:hover {
        &:before {
          opacity: 0.25;
        }

        .swap-columns-button {
          opacity: 0.75;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .image-placeholder {
      width: 100%;
      height: 500px;
      background: fade(@blue, 10%);
      padding: 200px 150px;
      color: @blue;
      text-align: center;
      cursor: pointer;
      position: relative;
      border-radius: 4px;
      margin-bottom: 16px;

      .delete-button {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

.panel-box-shadow {
  box-shadow: 0 15px 25px 0 fade(@midnight, 10%);
}

.tooltip {
  .text-small-label;
  color: white;
  background-color: @slate;
  position: absolute;
  display: inline-block;
  white-space: nowrap;
  padding: 8px 16px;
  border-radius: 2px;
  top: -8px;
  left: 50%;
  transform: translate(-50%, -100%);
  .panel-box-shadow;
  .tooltip-animation;
}

.tooltip-animation {
  animation: 0.3s ease tooltip-animation;
  transform-origin: 50%;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}

@keyframes tooltip-animation {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  5% {
    transform: translate(-50%, -75%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -100%);
    opacity: 1;
  }
}