.token {
  display:inline-block;
  background: fade(@blue, 25%);
  padding: 0 8px;
  min-width: 16px;
  border-radius: 96px;
  border: 1px solid fade(@blue, 50%);
  transition: background-color ease-out 250ms;
  
  &.incomplete {
    background-color: fade(@blue, 5%);
    
    &:before {
      content: "{{";
      margin-left: -16px;
    }

    padding-left: 24px;
  }
  
  &__input {
    margin-left: -6px;
    outline: none;
    background: none;
    border: none;
    color: inherit;
  }
}